{% extends "layout.html" %} {% block body %}
<div class="jumbotron">
    <div class="container">
        <div class="row">

            <div class="col-md-5">
                <h1>scrim.me</h1>
                <p>A platform for organizing and scheduling Team Fortress 2 scrims. Browse and filter the available teams to
                    find the perfect match. Hire mercs or find the team that suits you. It’s really simple, have a go.

                </p>
            </div>
            <div class="col-md-4 col-md-offset-3">
                <h1>what's new</h1>
                <p>
                    <button type="button" class="btn btn-primary btn-l" data-toggle="modal" data-target="#myModal">
                  <i class="fa fa-eur"></i> Donations
                </button>
                    <br>
                    <i class="fa fa-check"></i> new single and flash scrims<br>
                    <small> <i class="fa fa-tasks"></i>
                      <a href="http://steamcommunity.com/groups/scrim-me#announcements/detail/132077357623617410">changelog</a></small>
                    <br>
                    <i class="fa fa-user"></i> users:{{count_users}} <i class="fa fa-users"></i> teams:{{count_teams}}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h3><i class="fa fa-bolt"></i> Flash Scrims - 2 Hour Validity</h3>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Team Leader</th>
                        <th>Skill Level</th>
                        <th>Type</th>
                        <th>Time Zone</th>
                        <th>Maps</th>
                        <th>Comment</th>
                        <th>Add on Steam</th>
                    </tr>
                </thead>
                <tbody>


                        <tr>
                        <td> <img src=""></td>
                        <td><a href="">Link</a></td>
                        <td>Level</td>
                        <td>Type</td>
                        <td>Tiemzone</td>
                        <td>Maps</td>
                        <td>Comment</td>
                        <td><a class="btn btn-info btn-xs" href="steam://friends/add/}"><i class="fa fa-plus"></i> Add on Steam</a></td>
                        </tr>

                </tbody>
            </table>

            <h3><i class="fa fa-clock-o"></i> Single Scrims - 3 Day Validity</h3>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Team Leader</th>
                        <th>Skill Level</th>
                        <th>Type</th>
                        <th>Time Zone</th>
                        <th>Maps</th>
                        <th>Comment</th>
                        <th>Add on Steam</th>
                    </tr>
                </thead>
                <tbody>

                        <tr>
                        <td> <img src=""></td>
                        <td><a href="">Link</a></td>
                        <td>Level</td>
                        <td>Type</td>
                        <td>Tiemzone</td>
                        <td>Maps</td>
                        <td>Comment</td>
                        <td><a class="btn btn-info btn-xs" href="steam://friends/add/"><i class="fa fa-plus"></i> Add on Steam</a></td>
                        </tr>
                </tbody>
            </table>
        </div>
        <!--<div class="col-md-8">
            LOLOL
        </div>

        <div class="col-md-4">
            asdasdas
        </div>-->
    </div>
</div>

{% endblock %}