<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}" media="screen,projection" />
    

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    {% block body %} {% endblock %} {% block after_body %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script> {% endblock %}

</body>

</html>